
.recommended-flex{
    display: flex;
    margin-left: 20rem;   
}
.recommended-title{
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 23px;
    font-family: sans-serif;
   
}
.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: black;
    border: none;
    border: 0.6px;
    border-radius: 8px;
    border-color: #0093E9;
    cursor: pointer;
}

.btns:hover {
    color: white;
  }
  
